@import "../../style/utils";

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid map-get($colors, lightmouse);
  padding: 2rem 0 1.5rem;
}

.footer-text {
  @include resetMargin;
}
