@import "../../style/utils";

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  @include responsiveTabloids {
    padding: 5px 20px;
  }

  a {
    font-weight: bold;
  }

  .main-nav-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;
    &:hover {
      text-decoration: underline;
      color: map-get($colors, cassis);
    }
    color: map-get($colors, night);
  }

  .main-nav-item--active {
    text-decoration: none;
    margin-right: 0.5rem;
    &:hover {
      text-decoration: underline;
      color: map-get($colors, cassis);
    }
    color: map-get($colors, grass);
  }
}
