@font-face {
  font-family: Avenir;
  src: url("./font/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: AvenirBlack;
  src: url("./font/AvenirLTStd-Black.otf");
}

@mixin fontAvenir {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

@mixin fontAvenirBlack {
  font-family: AvenirBlack, Helvetica, Arial, sans-serif;
}

$colors: (
  night: #2c3e50,
  bgDark: #12002b,
  ice: #fff,

  lightmouse: #ccc,

  grass: #00bc77,
);

$sizes: (
  mini: 0.9rem,
  base: 1rem,
  xs: 1.1rem,
  s: 1.2rem,
  m: 1.25rem,
  l: 1.5rem,
  xl: 2.5rem,
  max: 5rem,
);

@mixin resetMargin {
  margin: 0;
  padding: 0;
}

@mixin responsiveDesktop {
  @media screen and (min-width: 920px) {
    @content;
  }
}

@mixin responsiveTabloids {
  @media screen and (min-width: 720px) {
    @content;
  }
}
