@import "../../style/utils";

.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: map-get($sizes, xs);
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 5px;
  color: map-get($colors, ice);
  @include responsiveTabloids {
    width: 200px;
  }
}
