@import "../../style/utils";

.transactions-list {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-collapse: collapse;
  thead {
    @include responsivePhones {
      display: none;
    }
  }
  tbody {
    background-color: white;
  }
  th {
    padding: 0.5rem;
  }
  .transaction-item {
    @include responsivePhones {
      display: block;
      text-align: right;
      padding: 0.5rem;
      &:before {
        content: attr(data-label);
        float: left;
      }
    }
  }
}

// rows deployments

.transaction-item--undeployed {
  td {
    border: 2px solid map-get($colors, ice);
    border-bottom: 2px solid map-get($colors, lightmouse);
  }
}
.transaction-item-row--deployed {
  background-color: lighten(map-get($colors, lightmouse), 17%);
  td {
    border: 2px solid lighten(map-get($colors, lightmouse), 17%);
    border-bottom: 2px solid lighten(map-get($colors, lightmouse), 12%);
  }
}

.transaction-item-hiddenRow--hidden {
  display: none;
  text-align: left;
  td {
    border: 2px solid map-get($colors, ice);
    border-bottom: 2px solid map-get($colors, lightmouse);
  }
}

.transaction-item-hiddenRow--deployed {
  display: table-row;
  text-align: left;
  background-color: lighten(map-get($colors, lightmouse), 17%);
  td {
    border: 2px solid lighten(map-get($colors, lightmouse), 17%);
    border-bottom: 3px solid map-get($colors, cassis);
    @include responsivePhones {
      padding: 0.5rem;
    }
  }
}

.icon-deploy {
  cursor: pointer;
  @include responsivePhones {
    padding: 0.2rem;
    background-color: lighten(map-get($colors, cassis), 25%);
    color: map-get($colors, ice);
  }
}
